In [24]:
import tensorflow as tf
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [25]:
# read training data
train_df = pd.read_csv("data/train.csv")
print("Training Data Frame Dimensions: " + str(train_df.shape))

Training Data Frame Dimensions: (1306122, 3)

In [26]:
# first 5 elements of training data
train_df.head()

,qid,question_text,target
0,00002165364db923c7e6,How did Quebec nationalists see their province...,0
1,000032939017120e6e44,"Do you have an adopted dog, how would you enco...",0
2,0000412ca6e4628ce2cf,Why does velocity affect time? Does velocity a...,0
3,000042bf85aa498cd78e,How did Otto von Guericke used the Magdeburg h...,0
4,0000455dfa3e01eae3af,Can I convert montra helicon D to a mountain b...,0

In [27]:
# last 5 elements of training data
train_df.tail()

,qid,question_text,target
1306117,ffffcc4e2331aaf1e41e,What other technical skills do you need as a c...,0
1306118,ffffd431801e5a2f4861,Does MS in ECE have good job prospects in USA ...,0
1306119,ffffd48fb36b63db010c,Is foam insulation toxic?,0
1306120,ffffec519fa37cf60c78,How can one start a research project based on ...,0
1306121,ffffed09fedb5088744a,Who wins in a battle between a Wolverine and a...,0

In [28]:
# read test data
test_df = pd.read_csv("data/test.csv")
print("Test Data Frame Dimensions: " + str(test_df.shape))

Test Data Frame Dimensions: (56370, 2)

In [29]:
test_df.head()

                    qid                                      question_text
0  00014894849d00ba98a9  My voice range is A2-C5. My chest voice goes u...
1  000156468431f09b3cae           How much does a tutor earn in Bangalore?
2  000227734433360e1aae  What are the best made pocket knives under $20...
3  0005e06fbe3045bd2a92  Why would they add a hypothetical scenario tha...
4  00068a0f7f41f50fc399   What is the dresscode for Techmahindra freshers?

In [30]:
test_df.tail()

                        qid                                      question_text
56365  fffcf200619ef3426fc5  Would I owe Queen Elizabeth II, if I could som...
56366  fffd424460c17be3f503        Is 6740 a good rank in Manipal online test?
56367  fffe18f21e5e070e55de  What would you like DC to do to make their mov...
56368  fffe4dd6bb7fd8fc1924  Do you think our system is fair? Consider fact...
56369  fffed08be2626f74b139  Why do all the stupid people I know tend to be...