In [19]:
import tensorflow as tf
import pandas as pd
import matplotlib.pyplot as plt
import keras
import os
import numpy as np
%matplotlib inline

In [8]:
# read training data
train_df = pd.read_csv("data/train.csv")
print("Training Data Frame Dimensions: " + str(train_df.shape))

Training Data Frame Dimensions: (1306122, 3)

In [9]:
# first 5 elements of training data
train_df.head()

,qid,question_text,target
0,00002165364db923c7e6,How did Quebec nationalists see their province...,0
1,000032939017120e6e44,"Do you have an adopted dog, how would you enco...",0
2,0000412ca6e4628ce2cf,Why does velocity affect time? Does velocity a...,0
3,000042bf85aa498cd78e,How did Otto von Guericke used the Magdeburg h...,0
4,0000455dfa3e01eae3af,Can I convert montra helicon D to a mountain b...,0

In [10]:
# last 5 elements of training data
train_df.tail()

,qid,question_text,target
1306117,ffffcc4e2331aaf1e41e,What other technical skills do you need as a c...,0
1306118,ffffd431801e5a2f4861,Does MS in ECE have good job prospects in USA ...,0
1306119,ffffd48fb36b63db010c,Is foam insulation toxic?,0
1306120,ffffec519fa37cf60c78,How can one start a research project based on ...,0
1306121,ffffed09fedb5088744a,Who wins in a battle between a Wolverine and a...,0

In [12]:
# read test data
test_df = pd.read_csv("data/train.csv")
print("Test Data Frame Dimensions: " + str(test_df.shape))

Test Data Frame Dimensions: (1306122, 3)

In [13]:
test_df.head()

,qid,question_text,target
0,00002165364db923c7e6,How did Quebec nationalists see their province...,0
1,000032939017120e6e44,"Do you have an adopted dog, how would you enco...",0
2,0000412ca6e4628ce2cf,Why does velocity affect time? Does velocity a...,0
3,000042bf85aa498cd78e,How did Otto von Guericke used the Magdeburg h...,0
4,0000455dfa3e01eae3af,Can I convert montra helicon D to a mountain b...,0

In [14]:
test_df.tail()

,qid,question_text,target
1306117,ffffcc4e2331aaf1e41e,What other technical skills do you need as a c...,0
1306118,ffffd431801e5a2f4861,Does MS in ECE have good job prospects in USA ...,0
1306119,ffffd48fb36b63db010c,Is foam insulation toxic?,0
1306120,ffffec519fa37cf60c78,How can one start a research project based on ...,0
1306121,ffffed09fedb5088744a,Who wins in a battle between a Wolverine and a...,0

In [227]:
# Generate dummy data
import numpy as np

labels = np.random.randint(2, size=(1000, 1))
data = np.random.random((1000, 512))
test = data
results = labels

In [238]:
#  keras sequential garbage
from keras.models import Sequential
from keras.layers import Dense, Activation

model = Sequential()
model.add(Dense(512, activation='relu', input_dim=512))
model.add(Dense(1024, activation='relu'))
model.add(Dense(256, activation='relu'))
model.add(Dense(1, activation='sigmoid'))
model.compile(optimizer='adam',
              loss='binary_crossentropy', metrics=['accuracy'])



model.summary()

np.sum((model.predict(test)>= 0.5) == results)
# Train the model, iterating on the data in batches of 32 samples
model.fit(test, results, epochs=10, batch_size=32)

_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_370 (Dense)            (None, 512)               262656
_________________________________________________________________
dense_371 (Dense)            (None, 1024)              525312
_________________________________________________________________
dense_372 (Dense)            (None, 256)               262400
_________________________________________________________________
dense_373 (Dense)            (None, 1)                 257
=================================================================
Total params: 1,050,625
Trainable params: 1,050,625
Non-trainable params: 0
_________________________________________________________________
Epoch 1/10
1000/1000 [==============================] - 3s 3ms/step - loss: 0.7349 - acc: 0.4770
Epoch 2/10
1000/1000 [==============================] - 0s 259us/step - loss: 0.6944 - acc: 0.4990
Epoch 3/10
1000/1000 [==============================] - 0s 268us/step - loss: 0.6962 - acc: 0.5130
Epoch 4/10
1000/1000 [==============================] - 0s 264us/step - loss: 0.6842 - acc: 0.5470
Epoch 5/10
1000/1000 [==============================] - 0s 272us/step - loss: 0.6585 - acc: 0.6130
Epoch 6/10
1000/1000 [==============================] - 0s 267us/step - loss: 0.6380 - acc: 0.6390
Epoch 7/10
1000/1000 [==============================] - 0s 268us/step - loss: 0.5814 - acc: 0.6870
Epoch 8/10
1000/1000 [==============================] - 0s 265us/step - loss: 0.5206 - acc: 0.7430
Epoch 9/10
1000/1000 [==============================] - 0s 270us/step - loss: 0.4732 - acc: 0.7770
Epoch 10/10
1000/1000 [==============================] - 0s 294us/step - loss: 0.4234 - acc: 0.7980